In [31]:
import pandas as pd
import os
import sqlite3
from pathlib import Path
import random

In [18]:
df = pd.read_csv('../data/raw/m_high_jump/u18_m_high_jump.csv')

print(df.shape)
df.head()

(23, 11)

,Rank,Mark,WIND,Competitor,DOB,Unnamed: 5,Pos,Unnamed: 7,Venue,Date,Results Score
0,1,2.33,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,La Habana (CUB),19 MAY 1984,1206
1,2,2.31,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,La Habana (CUB),13 MAY 1984,1188
2,3,2.29,NaN,Tim FORSYTH,17 AUG 1973,AUS,2,NaN,"Deveti Septemvri Stadium, Plovdiv (BUL)",12 AUG 1990,1170
3,4,2.28,NaN,Dothel EDWARDS,09 SEP 1966,USA,1,NaN,"Athens, GA (USA)",09 JUL 1983,1161
4,4,2.28,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,4,NaN,Sochi (URS),10 JUN 1984,1161

In [24]:
df = pd.read_csv('../data/raw/w_high_jump/u18_w_high_jump.csv')

print(df.shape)
df.head()

(110, 11)

,Rank,Mark,WIND,Competitor,DOB,Unnamed: 5,Pos,Unnamed: 7,Venue,Date,Results Score
0,1,1.96,NaN,Charmaine WEAVERS,27 FEB 1964,RSA,1,NaN,Bloemfontein (RSA),04 APR 1981,1180
1,1,1.96,NaN,Olga TURCHAK,05 MAR 1967,URS,1,NaN,Donetsk (URS),07 SEP 1984,1180
2,1,1.96,NaN,Eleanor PATTERSON,22 MAY 1996,AUS,1,NaN,Townsville (AUS),07 DEC 2013,1180
3,1,1.96,NaN,Vashti CUNNINGHAM,18 JAN 1998,USA,1,NaN,Edmonton (CAN),01 AUG 2015,1180
4,1,1.96,NaN,Yaroslava MAHUCHIKH,19 SEP 2001,UKR,4,NaN,Minsk (BLR) (i),22 DEC 2018,1180

In [19]:
df.isnull().sum()

Rank              0
Mark              0
WIND             23
Competitor        0
DOB               0
Unnamed: 5        0
Pos               0
Unnamed: 7       23
Venue             0
Date              0
Results Score     0
dtype: int64

In [20]:
df = pd.read_csv('../data/raw/m_high_jump/u20_m_high_jump.csv')

print(df.shape)
df.head()

(368, 11)

,Rank,Mark,WIND,Competitor,DOB,Unnamed: 5,Pos,Unnamed: 7,Venue,Date,Results Score
0,1,2.37,NaN,Dragutin TOPIĆ,12 MAR 1971,YUG,1,NaN,"Deveti Septemvri Stadium, Plovdiv (BUL)",12 AUG 1990,1242
1,1,2.37,NaN,Steve SMITH,29 MAR 1973,GBR,1,NaN,"Olympic Stadium, Seoul (KOR)",20 SEP 1992,1242
2,3,2.36,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,Santiago de Cuba (CUB),23 FEB 1986,1233
3,4,2.35,NaN,Vladimir YASHCHENKO,12 JAN 1959,URS,1,NaN,"Palazzo dello Sport, Milano (ITA) (i)",12 MAR 1978,1224
4,4,2.35,NaN,Dietmar MÖGENBURG,15 AUG 1961,FRG,1,NaN,Rehlingen (GER),26 MAY 1980,1224

In [21]:
df.isnull().sum()

Rank               0
Mark               0
WIND             368
Competitor         0
DOB                0
Unnamed: 5         0
Pos                1
Unnamed: 7       368
Venue              0
Date               0
Results Score      0
dtype: int64

In [22]:
df = pd.read_csv('../data/raw/m_high_jump/senior_m_high_jump.csv')

print(df.shape)
df.head()

(13388, 11)

,Rank,Mark,WIND,Competitor,DOB,Unnamed: 5,Pos,Unnamed: 7,Venue,Date,Results Score
0,1,2.45,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,Salamanca (ESP),27 JUL 1993,1314
1,2,2.44,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,San Juan (PUR),29 JUL 1989,1305
2,3,2.43,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,Salamanca (ESP),08 SEP 1988,1296
3,3,2.43,NaN,Javier SOTOMAYOR,13 OCT 1967,CUB,1,NaN,"Budapest Sportcsarnok, Budapest (HUN) (i)",04 MAR 1989,1296
4,3,2.43,NaN,Mutaz Essa BARSHIM,24 JUN 1991,QAT,1,NaN,"Boudewijnstadion, Bruxelles (BEL)",05 SEP 2014,1296

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           368 non-null    int64
 1   Mark           368 non-null    float64
 2   WIND           0 non-null      float64
 3   Competitor     368 non-null    object
 4   DOB            368 non-null    object
 5   Unnamed: 5     368 non-null    object
 6   Pos            367 non-null    object
 7   Unnamed: 7     0 non-null      float64
 8   Venue          368 non-null    object
 9   Date           368 non-null    object
 10  Results Score  368 non-null    int64
dtypes: float64(3), int64(2), object(6)
memory usage: 31.8+ KB

In [9]:
df.dtypes

Rank               int64
Mark             float64
WIND             float64
Competitor        object
DOB               object
Unnamed: 5        object
Pos               object
Unnamed: 7       float64
Venue             object
Date              object
Results Score      int64
dtype: object

In [10]:
df.isnull().sum()

Rank               0
Mark               0
WIND             368
Competitor         0
DOB                0
Unnamed: 5         0
Pos                1
Unnamed: 7       368
Venue              0
Date               0
Results Score      0
dtype: int64

In [23]:
df = df.rename(columns={'Unnamed: 5': 'country'})
df = df.drop(columns=['WIND', 'Unnamed: 7'], errors='ignore')

df.columns
df.isna().sum()
df.head()

,Rank,Mark,Competitor,DOB,country,Pos,Venue,Date,Results Score
0,1,2.45,Javier SOTOMAYOR,13 OCT 1967,CUB,1,Salamanca (ESP),27 JUL 1993,1314
1,2,2.44,Javier SOTOMAYOR,13 OCT 1967,CUB,1,San Juan (PUR),29 JUL 1989,1305
2,3,2.43,Javier SOTOMAYOR,13 OCT 1967,CUB,1,Salamanca (ESP),08 SEP 1988,1296
3,3,2.43,Javier SOTOMAYOR,13 OCT 1967,CUB,1,"Budapest Sportcsarnok, Budapest (HUN) (i)",04 MAR 1989,1296
4,3,2.43,Mutaz Essa BARSHIM,24 JUN 1991,QAT,1,"Boudewijnstadion, Bruxelles (BEL)",05 SEP 2014,1296

### To streamline the cleaning process all high jump .csv data files are missing data in the WIND and Unnamed: 7 columns.

In [35]:
raw_dir = [
    Path("..//data/raw/m_high_jump"),
    Path("..//data/raw/w_high_jump")
]

clean_dir = Path("../data/interim")
clean_dir.mkdir(parents=True, exist_ok=True)

# apply to all files in the folder

for folder in raw_dir:
    for csv_file in folder.glob("*.csv"):
        print(f"Cleaning {csv_file.name}")
        df = pd.read_csv(csv_file)
        df = df.rename(columns={'Unnamed: 5': 'country'})
        df = df.drop(columns=['WIND', 'Unnamed: 7'], errors='ignore')
        save_path = clean_dir / csv_file.name
        df.to_csv(save_path, index=False)
        print(f"Saved cleaned file to: {save_path}\n")
    
print("All files cleaned and saved to data/interim/")

Cleaning senior_m_high_jump.csv
Saved cleaned file to: ..\data\interim\senior_m_high_jump.csv

Cleaning u18_m_high_jump.csv
Saved cleaned file to: ..\data\interim\u18_m_high_jump.csv

Cleaning u20_m_high_jump.csv
Saved cleaned file to: ..\data\interim\u20_m_high_jump.csv

Cleaning senior_w_high_jump.csv
Saved cleaned file to: ..\data\interim\senior_w_high_jump.csv

Cleaning u18_w_high_jump.csv
Saved cleaned file to: ..\data\interim\u18_w_high_jump.csv

Cleaning u20_w_high_jump.csv
Saved cleaned file to: ..\data\interim\u20_w_high_jump.csv

All files cleaned and saved to data/interim/