# Relational Tables

In [9]:
import pandas as pd
import sqlite3


import numpy as np

#### Building Relations Tables

#### insert image of ERD here

conn = sqlite3.conn.connect('../data/interim/combined/w_high_jump.csv')

athletes_df = df_athletes[['athete_id', 'Competitor', 'Gender', 'Country', 'DOB']].drop_duplicates()
# Counties dataframe will be updated to include GDP to explore the economic impact on athlete success
countries_df = df_countries[['country_code', 'country_name']].drop_duplicates()
events_df = df_events[['event_id', 'event_name', 'unit']].drop_duplicates()
age_groups_df = df_age_groups[['age_group_id', 'age_group_name', 'min_age']].drop_duplicates()
performances_df = df_performances[['performance_id', 'athlete_id', 'event_id', 'age_group_id', 'year', 'date', 'mark', 'ranking', 'age_at_event']]. drop_duplicates()
medals_df = df_medals [['medal_id', 'athlete_id', 'event_id', 'year', 'medal_type', 'competition']].drop_duplicates()

athletes_df.to_sql('athletes', conn, index=False, if_exist='replace')
countries_df.to_sql('countries', conn, index=False, if_exist='replace')
events_df.to_sql('events', conn, index=False, if_exist='replace')
age_groups_df.to_sql('age_groups', conn, index=False, if_exist='replace')
performances_df.to_sql('performances', conn, index=False, if_exist='replace')
medals_df.to_squ('medals', conn, index=False, if_exist='replace')

conn.commit()
conn.close()

customers_df = df[['Customer ID','Customer Name','customer_category','City','State','Region']].drop_duplicates().rename(columns={
    'Customer ID':'customer_id',
    'Customer Name':'customer_name',
    'City':'city',
    'State':'state',
    'Region':'region'

In [12]:
conn = sqlite3.connect('m_high_jump.csv')

athletes_df = df(
    athlete_id INTEGER primary key autoincrement,
    name TEXT not null,
    gender TEXT check (gender IN ('M', 'W')),
    country TEXT,
    dob DATE,
    UNIQUE(name, dob)
);
custom_high_jump.csv.to_sql('athletes', conn, index=False, if_exists='replace')

conn.commit()
conn.close()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4212233546.py, line 4)